<template>
  <span>
    <LandingHero />
    <LandingDetails />
  </span>
</template>

<script>
import LandingHero from "@/components/landing/LandingHero.vue";
import LandingDetails from "@/components/landing/LandingDetails.vue";

export default {
  name: "Landing",
  components: {
    LandingHero,
    LandingDetails
  }
};
</script>
